@page "/teste"

<div id="titulo" class="@minhaClasse" style="@meuEstilo">
    @xpto
</div>

<div>
    <label class="text-muted">Digite seu nome</label>
    <input class="form-control" @bind-value=xpto />
</div>

<div class="mt-3">
    <button @onclick="Mudar" class="btn btn-outline-primary">Mudar título</button>
</div>

<div class="row border mt-3 text-center">
    <div class="col bg-primary">
        Coluna 1
    </div>
    <div class="col bg-success">
        Coluna 2
    </div>
    <div class="col bg-warning">
        Coluna 3
    </div>
</div>

<div class="mt-3 rounded p-5 shadow">
    <h1>Este é um texto em tamanho H1</h1>
</div>

@code {
    string xpto = "Vitor Henrique";
    string minhaClasse = "";
    string meuEstilo = "";

    void Mudar()
    {
        xpto = "Componente exemplo";
        minhaClasse = "text-success";
        meuEstilo = "font-size: 5rem;";
    }
}
