@page "/teste"

<h3 class="text-start text-end text-center p-5">Teste inicial</h3>

<div>
    <label class="text-muted">Digite seu nome</label>
    <input class="form-control" />
</div>

<div class="mt-3">
    <button class="btn btn-outline-primary">Enviar</button>
</div>

<div class="row border mt-3 text-center">
    <div class="col bg-primary">
        Coluna 1
    </div>
    <div class="col bg-success">
        Coluna 2
    </div>
    <div class="col bg-warning">
        Coluna 3
    </div>
</div>

<div class="mt-3 rounded p-5 shadow">
    <h1>Este é um texto em tamanho H1</h1>
</div>

@code {

}
